<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjectiveChipmunk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>appledoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>appledoc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>build all libs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cocos2d-documentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cocos2d.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>kazmath.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>png.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05AAF3B710EE85B300CACA2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CA7AEC10ED674700F12774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B44E45C163383A0000492D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>495E73F6104B74E20012BB52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50010EBA103B3DB80059EC2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5012DD180FE2994300D6DDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501504CD11330E1700A9CA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5018F24C0DFDEAC400C013A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501945550F964C620059CE7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501C7C6D0F91EFFF0024A296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502BF54411E39CC30030C477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502C65ED0DFEF3DD00E4107D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502C66170DFEFCCA00E4107D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>503164CC10277665003ACFE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>503F5C96101FE930002A37E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5042256F0FC0B39C00B992F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>504226120FC0B5D500B992F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50479999100F6A4200D1C71A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5048287F0F45AED700A30CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>504CC30C1035BDE90096894C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>504E17DB11C4C7E100E19835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505224F811B3D4700061670F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5052289011B3DBB90061670F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5052290E11B3DCD80061670F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5052294011B3DCE90061670F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505461DE10616AE100AB7C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505B62AB0F2E6A0F001B4104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505B63780F2F4210001B4104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506143F10E589A2E003CCDB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506881F40E95761200F943E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506C77CB0E01520900B48100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506C79F20E01C73A00B48100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506C7FF70E041C9300B48100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5078B5170E3E43540004233A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>507C0EE611D609290075E747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>507FF8CE116D16F600B6FAB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508CA7AD1193270F003AC397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509807071175041800EA7266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509B39DE0F31020900F2FB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509B3A0C0F31024E00F2FB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509B3A270F3102FD00F2FB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A24E190F377FA1007CAEB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A783990F3AFCE500104C45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B2C4D00E100AEA00AE9530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B2C5CE0E100EF000AE9530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B2CE450E129FD900AE9530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C1953E0EE4B57E00829067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C938C60E0A9DBB00517B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C93A930E0BF6E000517B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CB2FC91004C8B100B7A750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CBA46311CBD6FB007B009D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50D0E0480FF9232E00098927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50D0E0C70FF930BA00098927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50D56FA60F3FABEC007CD6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DB1BB10E1C1E5900A89DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DFC2870FF627B6007E7827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50E77CEE11D4C925009CA2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E6CBEEE0F7A758000D47B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EDF3EA90F6BDA0000F54643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A001940115C379F400F3D80E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A00942C515180C730029A5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A01AB8C2149709E300C93DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0240EF6139E3AE50075D13F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A02900AF15B5FA9E00D64F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A031B71F15D9BD0800E1986C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A031C595139543A70072E9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04A1FEA13B826B300ABAFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A094A98414436D9A0055E239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0D6BFEB159B6A25008EED97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E5F7D815C1AE5F00D44C32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0EFA6D3169CDF9C006D1B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0EFA7AD169CDFA4006D1B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F84141151D3B3000EBBFCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B772F6B118120CC9005C069B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D36F7E34181580A000E94F72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D37EE967187D4C9D00CB5EF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3CA19D21857F71100E9B584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA5F0EC10FFE96D400C7C82E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAABAA7D1059A42E00794EB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E02BC2A91270E489006E46A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E037DA1B1281C7F0003D39D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03A4F331355041F00D4B515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0A8C29B133C335500297B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0BD924C134B744600E71F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0C5586211FE48E600B9E4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0EA5673134B9CA800F212C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
